body {
  font-family: Arial, sans-serif;
  background-color: #0ec73f;
  color: black;
  margin: 0; /* Removes any default margin from the web browser */
  padding: 20px; /* Creates space between the content and the edge of the page*/
}

h1 {
  text-align: center;
  color: black;
}

/* Container for the Amiibo items */
.amiibo-container {
  display: flex; /* Creates flexible stlying for the amiibo items*/
  flex-wrap: wrap; /* Allows items to wrap to next line if there is not enough space*/
  justify-content: space-around; /* Distributes items with equal spacing*/
  width: 100%;
}

/* Styling for each individual Amiibo item */
.amiibo-item {
  background-color: #76b386;
  border: 4px solid black;
  border-radius: 10px;
  padding: 20px; /* Gives space between the content and the border*/
  display: flex;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 150px; /* Gives the amiibo cards a fixed height*/
  overflow: hidden; /* Ensures that anything that overflows the boundaries gets hidden*/
  padding-bottom: 5px;
  gap: 20px;
}

.image-container {
  flex: 0 0 150px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amiibo-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;  /* Change the cursor*/
 }

 .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .amiibo-item h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
 }

 .amiibo-item p {
  margin: 10px 0;
  font-size: 18px;
 }

 /* Styling for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);  /* Semi-transparent black background */
  display: flex;
  justify-content: center;  /* Center the image horizontally */
  align-items: center;  /* Center the image vertically */
  z-index: 1000;  /* Make sure it appears above other content */
  cursor: pointer;  /* Make the overlay clickable */
}

/* Styling for the expanded image */
.expanded-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;  /* Make sure the image maintains its aspect ratio */
} 

.API-weblink {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}