/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #0ec73f;
  color: black;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: black;
}

/* Container for the Amiibo items */
.amiibo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

/* Styling for each individual Amiibo item */
.amiibo-item {
  background-color: #76b386;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 300px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.amiibo-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;  /* Change the cursor*/
 }

 /* Styling for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);  /* Semi-transparent black background */
  display: flex;
  justify-content: center;  /* Center the image horizontally */
  align-items: center;  /* Center the image vertically */
  z-index: 1000;  /* Make sure it appears above other content */
  cursor: pointer;  /* Make the overlay clickable */
}

/* Styling for the expanded image */
.expanded-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;  /* Make sure the image maintains its aspect ratio */
}
